body
{
    text-align: center;
    top:  20px;
}

.first-div{
    background-color: aqua;
    border: 1px solid black;
    padding: 5px;
    margin:20px 300px ;     
}
.links{
    margin:15px;
    font-size: 25px;
    text-decoration: none;
    
}
.links2{
    font-size: 25px; 
    text-decoration: none;
    padding: 2px;
    float: left; 
    color: green;      
}
.links3
{
    padding: 25px;
    font-size: 25px;
    text-decoration: none;

}
.second-div{
    width: 20%;
    float: left;
    height: 300px;
    border: 1px solid black;
}
.third-div{
    margin-left: 22%;
    height: 300px;
    text-align: center;

    
    
}

.footer
{
    background-color: aqua;
}
